<div class="popup popup--partners popup--gif">
    <div class="popup__overlay popup__dismiss"></div>
    <div class="popup__inner">
        <span class="btn--close popup__dismiss"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2 class="text--blue">Global Innovation Fund</h2>
                <p>Global Innovation Fund is a non-profit that invests in the development, rigorous testing, and scaling of innovations targeted at improving the lives of the world’s poorest people. Global Innovation Fund is providing support to Talent Beyond Boundaries to expand the learnings of TBB's pilot project by pursuing job placements for refugees into Morocco, and to document and share TBB's learnings with the international community.</p>
            </div>
            <div class="col-xs-12 col-sm-5 partner-logo">
                <img src="images/homepage/partners/ico-gif.png" alt="Global Innovation Fund">
            </div>
        </div>
    </div>
</div>
