<div class="popup popup--partners popup--rpd">
    <div class="popup__overlay popup__dismiss"></div>
    <div class="popup__inner">
        <span class="btn--close popup__dismiss"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2 class="text--blue">The Roy and Patricia Disney Family Foundation</h2>
                <p>The Roy and Patricia Disney Family Foundation invests in innovative solutions and community leaders to build a more just, equitable, and sustainable world in which all people thrive. It is providing general operating support to Talent Beyond Boundaries for its pilot project to catalyze labor mobility for refugees.</p>
            </div>
            <div class="col-xs-12 col-sm-5 partner-logo">
                <img src="images/homepage/partners/ico-rpd.jpg" alt="The Roy and Patricia Disney Family Foundation">
            </div>
        </div>
    </div>
</div>
