<div class="popup popup--partners popup--tent">
    <div class="popup__overlay popup__dismiss"></div>
    <div class="popup__inner">
        <span class="btn--close popup__dismiss"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2 class="text--blue">The Tent Foundation</h2>
                <p>The TENT Foundation seeks to improve the lives and livelihoods of forcibly displaced people by funding direct assistance, investing in innovation and promoting policies and partnerships to help the displaced realize their full potential. The TENT Foundation is supporting Talent Beyond Boundaries' pilot project by providing funding for refugee job-readiness services.</p>
            </div>
            <div class="col-xs-12 col-sm-5 partner-logo">
                <img src="images/homepage/partners/ico-tent.png" alt="The Tent Foundation">
            </div>
        </div>
    </div>
</div>
