<div class="popup popup--partners popup--unhcr">
    <div class="popup__overlay popup__dismiss"></div>
    <div class="popup__inner">
        <span class="btn--close popup__dismiss"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2 class="text--blue">UNHCR</h2>
                <p>The UN Refugee Agency (UNHCR), is a United Nations program dedicated to saving lives, protecting rights and building a better future for refugees, forcibly displaced communities and stateless people. Talent Beyond Boundaries has a Cooperation Agreement with UNHCR, to support refugees in gaining access to labor mobility through Talent Beyond Boundaries' pilot project.</p>
            </div>
            <div class="col-xs-12 col-sm-5 partner-logo">
                <img src="images/homepage/partners/ico-unhcr.jpg" alt="UNHCR">
            </div>
        </div>
    </div>
</div>
