<div class="popup popup--partners popup--usa">
    <div class="popup__overlay popup__dismiss"></div>
    <div class="popup__inner">
        <span class="btn--close popup__dismiss"></span>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2 class="text--blue">The United States Department Bureau of Population, Refugees, and Migration</h2>
                <p>The US State Department Bureau of Population, Refugees, and Migration provides aid and sustainable solutions for refugees, victims of conflict and stateless people around the world. The Bureau has provided Talent Beyond Boundaries with core support for its pilot project.</p>
            </div>
            <div class="col-xs-12 col-sm-5 partner-logo">
                <img src="images/homepage/partners/ico-usa.png" alt="The United States Department Bureau of Population, Refugees, and Migration">
            </div>
        </div>
    </div>
</div>
