* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Lato', Arial, sans-serif;
	color: $color-blackish;
	background-color: $color-body-bg;
}

.container-fluid {
	max-width: 73rem;
	padding-left: 1em;
	padding-right: 1em;
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
	font-weight: normal;
	color: $color-gray-dark;
}

h1 {
	font-size: 2.4em;
	font-weight: bold;

	@include breakpoint(768) {
		font-size: 1.8em;
	}
}

h2 {
	font-size: 1.8em;

	@include breakpoint(768) {
		font-size: 1.5em;
	}
}

h3 {
	font-size: 1.5em;

	@include breakpoint(768) {
		font-size: 1.3em;
	}
}

h4 {
	font-size: 1.2em;

	@include breakpoint(768) {
		font-size: 1.1em;
	}
}

h5 {
	font-size: 1em;
}

p {
	margin: 1em 0;
	line-height: 1.6;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: $color-blue;
	transition: all $animation-duration;

	&:hover {
		color: darken($color-blue, 8%);
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

textarea {
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}


dt {
	margin-bottom: 0.2em;
	font-weight: 600;
}

dd {
	margin: 0 0 1.5em;
	line-height: 1.6;
}
