* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: Arial, sans-serif;
	color: $color-gray;
	background-color: $color-body-bg;
}

.container-fluid {
	max-width: 73rem;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
	font-weight: normal;
	color: $color-gray-dark;
}

h1 {
	font-size: 2.4em;
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

p {
	margin: 1em 0;
	line-height: 1.6;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: $color-blue;
	transition: all $animation-duration;

	&:hover {
		color: darken($color-blue, 8%);
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

textarea {
	max-width: 100%;
}
