<footer class="tbb-footer section" role="contentinfo">
    <div class="container-fluid">
        <ul>
            <li>© 2018 Talent Beyond Boundaries</li>
            <li>USA: Talent Beyond Boundaries is a tax-exempt 501(c)(3) organization</li>
            <li>Australia: Talent Beyond Boundaries Ltd is endorsed as a Deductible Gift Recipient - ABN 20 623 493 327</li>
            <li>Donations to Talent Beyond Boundaries are tax deductible in Australia ($2 minimum) and USA</li>
        </ul>
    </div>
</footer>
