<footer class="tbb-footer section" role="contentinfo">
    <div class="container-fluid">
        <ul>
            <li>Talent Beyond Boundaries</li>
            <li>2000 Massachusetts Ave NW</li>
            <li>Washington, DC 20036</li>
            <li>+1-202-599-3200</li>
            <li class="tbb-footer__info">
                <ul>
                    <li>© 2017 Talent Beyond Boundaries</li>
                    <li>Talent Beyond Boundaries is a tax-exempt 501(c)(3) organization</li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
