<footer class="tbb-footer section" role="contentinfo">
    <div class="container-fluid">
        <p>Talent Beyond Boundaries is a tax-exempt 501(c)(3) organization</p>
        <p>Talent Beyond Boundaries</p>
        <p>2000 Massachusetts Ave NW</p>
        <p>Washington, DC 20036</p>
        <p>+1-202-599-3200</p>
        <p class="tbb-footer__info">© 2017 Talent Beyond Boundaries</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>
