{% macro active(page) %}
<header class="tbb-header" role="banner">
    <div class="container-fluid">
        <span class="offcanvas-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <a href="/index.html" class="tbb-header__logo">
            <img src="images/logo.png" alt="Talent Beyond Boundaries">
        </a>
        <ul class="tbb-header__nav">
            <li class="dropdown">
              <span class="dropdown__toggle">About Us</span>
              <ul class="dropdown__nav">
                  <li><a href="vision-impact.html">Vision &amp; Impact</a></li>
                  <li><a href="our-people.html">Our People</a></li>
                  <li><a href="board-advisors.html">Board &amp; Advisors</a></li>
                  <li><a href="our-funders.html">Our Funders</a></li>
                  <li><a href="press.html">Press &amp; Recognition</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <span class="dropdown__toggle">Our Work</span>
              <ul class="dropdown__nav">
                <li><a href="pilot-project.html">Pilot Project</a></li>
                <li><a href="talent-catalog.html">Talent Catalog</a></li>
              </ul>
            </li>
            <li><a href="for-employers.html">For Employers</a></li>
            <li><a href="for-job-seekers.html">For Job Seekers</a></li>
            <li class="dropdown">
              <span class="dropdown__toggle">Get Involved</span>
              <ul class="dropdown__nav">
                <li><a href="partner-with-us.html">Partner With Us</a></li>
                <li><a href="join-our-team.html">Join Our Team</a></li>
                <li><a href="donate.html">Donate</a></li>
              </ul>
            </li>
        </ul>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/TalentBeyondBoundaries/"><img src="images/social/facebook.svg" title="Facebook"></a></li>
            <li><a href="https://twitter.com/tbbfortalent?lang=en"><img src="images/social/twitter.svg" title="Twitter"></a></li>
            <li><a href="https://www.youtube.com/channel/UCClJU4xIHJYjajl-o98c40A"><img src="images/social/youtube.svg" title="Youtube"></a></li>
            <li><a href="https://www.linkedin.com/company-beta/6638257"><img src="images/social/linkedin.svg" title="LinkedIn"></a></li>
        </ul>
        <a href="donate.html" class="btn btn--blue tbb-header__donate">Donate</a>
    </div>
</header>
{% endmacro %}
