{% macro active(page) %}
<header class="tbb-header" role="banner">
    <div class="container-fluid">
        <span class="offcanvas-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <a href="./index.html" class="tbb-header__logo">
            <img src="images/logo.png" alt="Talent Beyond Boundaries">
        </a>
        <ul class="tbb-header__nav tbb-header__removable">
            <li class="dropdown">
              <span class="dropdown__toggle">About Us</span>
              <ul class="dropdown__nav">
                  <li><a href="vision-impact.html">Vision &amp; Impact</a></li>
                  <li><a href="our-people.html">Our People</a></li>
                  <li><a href="board-advisors.html">Board &amp; Advisors</a></li>
                  <li><a href="our-funders.html">Our Funders</a></li>
                  <li><a href="press.html">Press &amp; Recognition</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <span class="dropdown__toggle">Our Work</span>
              <ul class="dropdown__nav">
                <li><a href="pilot-project.html">Pilot Project</a></li>
                <li><a href="talent-catalog.html">Talent Catalog</a></li>
              </ul>
            </li>
            <li><a href="for-employers.html">For Employers</a></li>
            <li><a href="for-job-seekers.html">For Job Seekers</a></li>
            <li class="dropdown">
              <span class="dropdown__toggle">Get Involved</span>
              <ul class="dropdown__nav">
                <li><a href="partner-with-us.html">Partner With Us</a></li>
                <li><a href="join-our-team.html">Join Our Team</a></li>
                <li>---</li>
                <li><a target="_blank" href="https://donate.mycause.com.au/charity/32184">Donate - Australian Tax Payer</a></li>
                <li><a href="donate.html">Donate - US Tax Payer</a></li>
                <li><a href="donate-other.html">Donate - Other</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <span class="dropdown__toggle">Links</span>
              <ul class="dropdown__nav">
                <li><a target="_blank" href="http://www.opennetwork.net/">Open Political Economy Network</a></li>
                <li><a target="_blank" href="https://www.makerefuge.org/">Make Refuge by Steph Cousins: <br/> TBB Australia Director & Churchill Fellow</a></li>
                <li><a target="_blank" href="https://www.churchilltrust.com.au/fellows/detail/4372/Marina+Brizar">
                    "Labour Mobility as a Complementary Pathway to Humanitarian Resettlement" by Marina Brizar: <br/> TBB UK Director & Churchill Fellow</a></li>
              </ul>
            </li>
        </ul>
        <ul class="tbb-header__nav">
            <li class="dropdown">
                <span class="dropdown__toggle dropdown__strong">Donate</span>
                <ul class="dropdown__nav">
                    <li><a target="_blank" href="https://donate.mycause.com.au/charity/32184">
                        Australian Tax Payer</a></li>
                    <li><a href="donate.html">US Tax Payer</a></li>
                    <li><a href="donate-other.html">Other</a></li>
                </ul>
            </li>
        </ul>
        <ul class="social-icons">
            <li><a target="_blank" href="https://www.facebook.com/TalentBeyondBoundaries/"><img src="images/social/facebook.svg" title="Facebook"></a></li>
            <li><a target="_blank" href="https://twitter.com/tbbfortalent?lang=en"><img src="images/social/twitter.svg" title="Twitter"></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCClJU4xIHJYjajl-o98c40A"><img src="images/social/youtube.svg" title="Youtube"></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/talent-beyond-boundaries/"><img src="images/social/linkedin.svg" title="LinkedIn"></a></li>
        </ul>
    </div>
</header>
{% endmacro %}
