<div class="offcanvas">
    <div class="offcanvas__overlay offcanvas-dismiss"></div>
    <div class="offcanvas__inner">
        <ul class="offcanvas__menu">
            <li>
              <span>About Us</span>
              <ul>
                  <li><a href="vision-impact.html">Vision &amp; Impact</a></li>
                  <li><a href="our-people.html">Our People</a></li>
                  <li><a href="board-advisors.html">Board &amp; Advisors</a></li>
                  <li><a href="our-funders.html">Our Funders</a></li>
                  <li><a href="press.html">Press &amp; Recognition</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </li>
            <li>
              <span>Our Work</span>
              <ul>
                <li><a href="pilot-project.html">Pilot Project</a></li>
                <li><a href="talent-catalog.html">Talent Catalog</a></li>
              </ul>
            </li>
            <li><a href="for-employers.html">For Employers</a></li>
            <li><a href="for-job-seekers.html">For Job Seekers</a></li>
            <li>
              <span>Get Involved</span>
              <ul>
                <li><a href="partner-with-us.html">Partner With Us</a></li>
                <li><a href="join-our-team.html">Join Our Team</a></li>
                <li><a href="donate.html">Donate</a></li>
              </ul>
            </li>
        </ul>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/TalentBeyondBoundaries/"><img src="images/social/facebook.svg" title="Facebook"></a></li>
            <li><a href="https://twitter.com/tbbfortalent?lang=en"><img src="images/social/twitter.svg" title="Twitter"></a></li>
            <li><a href="https://www.youtube.com/channel/UCClJU4xIHJYjajl-o98c40A"><img src="images/social/youtube.svg" title="Youtube"></a></li>
            <li><a href="https://www.linkedin.com/company-beta/6638257"><img src="images/social/linkedin.svg" title="LinkedIn"></a></li>
        </ul>
    </div>
</div>
