{% extends "layout/base.html" %}

{% block title %}TBB - Press &amp; Recognition{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white no-resize" data-parallax="scroll" data-image-src="images/contact/header.jpg">
    <img src="images/contact/header.jpg" alt="Contact Us">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Contact</span>  Us</h1>
        </div>
    </div>
    <span class="section__caption">Pictured: <strong>Abdelrahman, Iraqi in Jordan, Architect</strong></span>
</div>

<div class="section section--contact-us bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <div class="text--center">
                <h4 class="section__title text--uppercase text--spaced">Talent Beyond Boundaries</h4>
                <h5 class="text--uppercase text--spaced">For inquiries, please submit the following form</h5>
            </div>
            <div class="row">
                <form action="#" method="post" class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-label">
                            <label for="name">Name:</label>
                        </div>
                        <div class="col-input">
                            <input id="name" class="input-field" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-label">
                            <label for="email">Email:</label>
                        </div>
                        <div class="col-input">
                            <input id="email" class="input-field" type="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-label">
                            <label for="subject">Subject:</label>
                        </div>
                        <div class="col-input">
                            <input id="subject" class="input-field" type="text" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-label">
                            <label for="message">Message:</label>
                        </div>
                        <div class="col-input">
                            <textarea id="message" class="input-field" cols="30" rows="10" required></textarea>
                        </div>
                    </div>
                    <div class="text--right">
                        <button type="submit" class="btn btn--blue">Submit</button>
                    </div>
                </form>
                <div class="col-xs-12 col-sm-4 first-sm">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/TalentBeyondBoundaries/"><img src="images/social/facebook.svg" title="Facebook"></a></li>
                        <li><a href="https://twitter.com/tbbfortalent?lang=en"><img src="images/social/twitter.svg" title="Twitter"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCClJU4xIHJYjajl-o98c40A"><img src="images/social/youtube.svg" title="Youtube"></a></li>
                        <li><a href="https://www.linkedin.com/company-beta/6638257"><img src="images/social/linkedin.svg" title="LinkedIn"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
