{% extends "layout/base.html" %}

{% block title %}TBB - Support Our Work{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/donate/header.jpg">
    <img src="images/donate/header.jpg" alt="Support Our Work">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Support</span> Our Work</h1>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title text--blue">With your support we can provide refugees with a pathway to employment and self-sufficiency. As the refugee crisis continues to grow and more families are displaced, please consider providing a monthly donation or asking your employer to provide a match.</h4>

            <br>

            <h4 class="text--blue">Questions</h4>

            <dl>
                <dt>Is my donation tax-deductible?</dt>
                <dd>Yes, Talent Beyond Boundaries is a registered 501(c)(3) organization. No goods or services are received in exchange for your donation. To claim a deduction on your U.S. taxes, please keep your email donation receipt as your official record.</dd>

                <dt>Do I get a receipt?</dt>
                <dd>A donation receipt will be sent to you at the email address you provide. If you select a recurring monthly donation, you will be sent an individual receipt each month after your donation has been processed.</dd>

                <dt>Is my donation secure?</dt>
                <dd>Yes, the security of your information is our highest priority. The application we use employs SSL certificate encryption technologies to ensure transactions are processed in a safe and secure manner. We will not sell, trade, or share your personal information with anyone else, and will only share personal information if you have given us specific permission to do so.</dd>
            </dl>
        </div>
    </div>
</div>

{% endblock %}
