{% extends "layout/base.html" %}

{% block title %}TBB - Support Our Work{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white no-resize" data-parallax="scroll" data-image-src="images/donate/header.jpg">
    <img src="images/donate/header.jpg" alt="Support Our Work">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Support</span> Our Work</h1>
        </div>
    </div>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title text--blue">With your support we can provide refugees with a pathway to employment and self-sufficiency. As the refugee crisis continues to grow and more families are displaced, please consider providing a monthly donation or asking your employer to provide a match.</h4>
            <p>
                Contact Sayre Nyce, Executive Director,
                at <a href="mailto:snyce@talentbeyondboundaries.org">snyce@talentbeyondboundaries.org</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
