{% extends "layout/base.html" %}

{% block title %}TBB - For Employers{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/employers/header.jpg">
    <img src="images/employers/header.jpg" alt="For Employers">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Hire</span> Refugees</h1>
            <p>Find Top Talent and Make a Global Difference.</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
    <span class="section__caption">
        Pictured: <strong>Fayez, Syrian in Jordan, Web designer</strong>
    </span>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">By joining Talent Beyond Boundaries as a corporate partner, your company can find needed talent while contributing to building an additional solution to one of the world’s most pressing challenges.</h3>
            <p>TBB recognizes that employers face challenges filling their hiring needs. We can help by enabling you to consider talented refugees as part of your future workforce.</p>
            <p>With support from the U.S. State Department Bureau of Population, Refugees and Migration, a cooperation agreement with the UN Refugee Agency (UNHCR), and our partnership with SPARK, we have identified a talent pool of 10,000 individuals in Jordan and Lebanon, many of whom were skilled professionals in a range of fields before they were forced to flee their home countries. These individuals have shared detailed information about their skills, work experiences, education, and language abilities. These candidates are eager to rebuild their careers and contribute to society.</p>
            <h3 class="section__title">Materials</h3>
            <ul>
                <li><a target="_blank" href="s/TBB-Analytics.pdf">Talent Catalog Analytics</a>
                <li><a target="_blank" href="s/TBB-IWDWomenStats.pdf">Snapshot of Women Refugees in the Talent Catalog</a>
                <li><a target="_blank" href="s/TBB-Corporate-Overview-2018.pdf">Corporate Overview 2018</a> </li>
                <li><a target="_blank" href="s/TBB-IT-Candidates-Packet.pdf">Sample of TBB candidates in the IT sector</a> </li>
                <li><a target="_blank" href="s/TBB-Data-and-Analysis-Report-September-2017.pdf">Mapping Refugee Skills and Employability: Data and Analysis from the Talent Catalog (September 2017)</a> </li>
            </ul>

        </div>
    </div>
</div>

<div class="section section--cta bg--blue">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title">If you are interested in hiring from our talent pool, please contact Rachel Lawrie, Corporate Outreach Manager, at <a href="mailto:rlawrie@talentbeyondboundaries.org">rlawrie@talentbeyondboundaries.org</a></h4>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="narrow-wrapper">
        <h4 class="section__title text--blue">We are proud to connect employers with quality candidates while making the selection process as smooth and enjoyable as possible.</h4>
        <p>For corporate partners, TBB identifies relevant talent within our Talent Catalog, provides candidate preparation, facilitates the interview process, and works with candidates and employers throughout the immigration process to ensure successful employment.</p>
    </div>
    <div class="step-grid step-grid--employers">
        <div class="step-grid__col">
            <span class="step-grid__icon">
                <img src="images/employers/grid-1.png">
            </span>
            <span class="step-grid__counter">1</span>
            <p>We work with employers to identify skilled talent to meet hiring needs, including for hard-to-fill positions</p>
        </div>
        <div class="step-grid__col">
            <span class="step-grid__icon">
                <img src="images/employers/grid-2.png">
            </span>
            <span class="step-grid__counter">2</span>
            <p>We collaborate with employers to verify candidates' credentials and skills and also ensure candidates are job ready by providing soft-skills and language training</p>
        </div>
        <div class="step-grid__col">
            <span class="step-grid__icon">
                <img src="images/employers/grid-3.png">
            </span>
            <span class="step-grid__counter">3</span>
            <p>We facilitate all phases of the selection and interviewing process with candidates</p>
        </div>
        <div class="step-grid__col">
            <span class="step-grid__icon">
                <img src="images/employers/grid-4.png">
            </span>
            <span class="step-grid__counter">4</span>
            <p>We coordinate with partners to complete the visa application process</p>
        </div>
        <div class="step-grid__col">
            <span class="step-grid__icon">
                <img src="images/employers/grid-5.png">
            </span>
            <span class="step-grid__counter">5</span>
            <p>We ensure successful placement by providing regular follow-up with the employer and the new hire.</p>
        </div>
    </div>
</div>

<div class="section section--bg" data-parallax="scroll" data-image-src="images/employers/hero.jpg">
    <img src="images/employers/hero.jpg" alt="TBB Testimony">
    <div class="container-fluid">
        <div class="testimony">
            <div class="testimony__inner">
                <p class="testimony__text">"I think Talent Beyond Boundaries’ initiative is great...We have had a very positive experience. Everyone has wanted to help and assist and it's been very easy to draw on different levels of expertise because people want to make a difference...Our general feeling was the candidates were really good and had a greater level of general experience than our expectations.”</p>
                <p class="testimony__author">- TBB Corporate Partner</p>
            </div>
        </div>
    </div>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title text--blue">Talent Beyond Boundaries is the only organization linking international refugee talent with employers. Your organization can get involved in supporting this innovative initiative through a number of avenues:</h4>
            <ul class="list list--bullets">
                <li>Consider skilled individuals from TBB’s talent pool for direct hire at your company</li>
                <li>Offer expertise in your sector to make candidates more employable</li>
                <li>Connect us to other employment opportunities</li>
                <li>Share labor market analytics</li>
                <li>Become a TBB sponsor</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
