{% extends "layout/base.html" %}

{% block title %}TBB - Join Our Team{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white no-resize" data-parallax="scroll" data-image-src="images/join-our-team/header.jpg">
    <img src="images/join-our-team/header.jpg" alt="Join Our Team">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Join</span> Our Team</h1>
        </div>
    </div>
</div>

<div class="narrow-wrapper">
    <p>Talent Beyond Boundaries welcomes contributions from volunteers and interns. If you are interested in volunteering, interning or finding other ways to get involved, please email <a href="mailto:info@talentbeyondboundaries.org">info@talentbeyondboundaries.org</a> and attach your CV.</>
</div>


<div class="section container-fluid">
    <div class="narrow-wrapper">
        <h4 id="positions_vacant" class="section__title text--blue">Positions Vacant</h4>
        <h4>Jordan Project Officer, June 2019</h4>
        <p>
            Talent Beyond Boundaries (TBB) is seeking a highly-motivated and detail-oriented team member who is eager to be part of an innovative initiative that is driving transformational change for refugees globally. This is a challenging position that requires excellent interpersonal skills, comfort with ambiguity, impeccable organizational capabilities, and a high level of personal initiative. The Project Officer will play an integral role in ensuring the success of TBB's operations in Jordan and interact directly with TBB's refugee job candidates. The position is based in Amman until December 31, 2019, with possibility of extension.
        </p>
        <p>
            <strong>Education:</strong> Bachelor's degree strongly preferred
        </p>
        <p>
            <strong>Experience:</strong> 2+ years of professional experience preferred, ideally related to project management, human resources, social work, development or humanitarian response.
        </p>
        <p>
            <strong>Language Skills:</strong> Fluency in spoken and written Arabic and English.
        </p>
        <p>
            <strong>Additional Requirements:</strong>
        </p>
        <ul class="list list--bullets">
            <li>
                Passion for TBB's mission and for working with refugees, as well as willingness to go the extra mile to achieve successful results.
            </li>
            <li>
                Experience and/or strong interest in international recruitment processes and ability to guide refugee candidates through them effectively, assisting with resume building, interview preparation, etc. as well as visa application processes
            </li>
            <li>
                Strong project management skills and organization, i.e. ability to manage time effectively, meet deadlines, keep track of multiple priorities at once, monitor and record progress, etc.
            </li>
            <li>
                A clear communicator with a demonstrated ability to establish effective and working relations with diverse stakeholders in both Arabic and English.
            </li>

            <li>
                Comfort working in an international workplace and coordinating with teams across the globe.
            </li>
            <li>
                Adaptable and able to re-prioritize according to the changing context.
            </li>
            <li>
                Strong cultural awareness and tolerance to diversity especially in the details pertaining to the refugee crisis and the Jordanian context.
            </li>
            <li>
                Must exercise good judgment and be able to maintain confidential information.
            </li>
        </ul>
        <p>
            <strong>Major Responsibilites:</strong>
        </p>

        <ul class="list list--bullets">
            <li>
                Provide case management to refugee participants to assist them through the process of preparing for international employment and migration, including 1 to 1 "intakes" with refugee job candidates.
            </li>
            <li>
                Coordinate logistics necessary to prepare refugees to move for international employment. This could include helping candidates prepare necessary documents, take language and skills testing, prepare applications and CVs, access information, and take the steps needed to obtain a work visa.
            </li>
            <li>
                Develop and maintain administrative and other processes for the project and accountability. Create processes to support the organization and facilitation of case management for refugees working with TBB.
            </li>
            <li>
                Contribute to developing strategy for TBB's program in Jordan in close coordination with management.
            </li>
            <li>
                Create and maintain project documentation and contribute to written summaries of TBB's work
            </li>
            <li>
                Communicate regularly with TBB team members in Washington, D.C., Beirut, Toronto, and Melbourne
            </li>
            <li>
                Monitor developments across Jordan that might affect refugee circumstances
            </li>
            <li>
                Represent TBB with external stakeholders and build partnerships as needed to support TBB's work.
            </li>
        </ul>

        <p>
            <strong>How to apply:</strong> Please submit your CV and a cover letter to jordan@talentbeyondboundaries.org by June 15, 2019. Applications will be considered on a rolling basis, so we encourage you to apply as soon as possible.
        </p>

        <p>
            <strong>Working environment:</strong> The successful applicant will work in TBB's office in Amman under the supervision of the Jordan Director. The position requires someone who works well with a small, dynamic, and dedicated team as well as independently.
        </p>
        <p>
            <strong>Start Date:</strong> As soon as possible
        </p>
        <p>
            <strong>Hours:</strong> Full-time
        </p>
        <p>
            <strong>Salary:</strong> Based on experience
        </p>
    </div>
</div>
{% endblock %}
