{% extends "layout/base.html" %}

{% block title %}TBB - Join Our Team{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white no-resize" data-parallax="scroll" data-image-src="images/join-our-team/header.jpg">
    <img src="images/join-our-team/header.jpg" alt="Join Our Team">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Join</span> Our Team</h1>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="narrow-wrapper">
        <h4 class="section__title text--blue">Talent Beyond Boundaries welcomes contributions from volunteers and interns. If you are interested in volunteering, interning or finding other ways to get involved, please email <a href="mailto:info@talentbeyondboundaries.org">info@talentbeyondboundaries.org</a> and attach your CV.</h4>
    </div>
</div>

{% endblock %}
