{% extends "layout/base.html" %}

{% block header %}
    {% import "header.html" as header %}
    {{ header.active() }}
{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" style="background-image: url('images/our-people/header.jpg');">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Our</span> People</h1>
            <p>Our dedicated network of staff, advisors, and volunteers work tirelessly to connect international employers to talented refugees. We are based across global offices in the United States, Jordan, Lebanon, Australia, and Canada.</p>
        </div>
    </div>
</div>
<div class="bg--white our-people">
    <div class="container-fluid section">
        <h3 class="text--center text--uppercase text--spaced">Washington, DC</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-1.jpg" alt="Mary Louise Cohen">
                    </div>
                    <h4>Mary Louise Cohen</h4>
                    <p>Founder</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-2.jpg" alt="Bruce Cohen">
                    </div>
                    <h4>Bruce Cohen</h4>
                    <p>Founder</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-3.jpg" alt="Gary Slaiman">
                    </div>
                    <h4>Gary Slaiman</h4>
                    <p>Corporate Outreach Advisor</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-4.jpg" alt="Sayre Nyce">
                    </div>
                    <h4>Sayre Nyce</h4>
                    <p>Executive Director</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-5.jpg" alt="Leah Nichles">
                    </div>
                    <h4>Leah Nichles</h4>
                    <p>International Affairs Director</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-6.jpg" alt="Madeline Holland">
                    </div>
                    <h4>Madeline Holland</h4>
                    <p>Outreach and Project Manager</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-7.jpg" alt="Rachel Lawrie">
                    </div>
                    <h4>Rachel Lawrie</h4>
                    <p>Corporate Outreach Manager</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-8.jpg" alt="Yosief Hiyabu">
                    </div>
                    <h4>Yosief Hiyabu</h4>
                    <p>Administrative Manager</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section">
        <h3 class="text--center text--uppercase text--spaced">Middle East & North Africa</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-9.jpg" alt="Naitham Kukhun">
                    </div>
                    <h4>Naitham Kukhun</h4>
                    <p>Jordan Project Manager</p>
                    <span>Amman</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-10.jpg" alt="Laura Schrier">
                    </div>
                    <h4>Laura Schrier</h4>
                    <p>Regioanl Program Manager</p>
                    <span>Amman / Beirut</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-11.jpg" alt="Noura Ismail">
                    </div>
                    <h4>Noura Ismail</h4>
                    <p>Strategy Manager</p>
                    <span>Beirut</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-12.jpg" alt="Malika Laasri Lahlou">
                    </div>
                    <h4>Malika Laasri Lahlou</h4>
                    <p>Senior Advisor</p>
                    <span>Rabat</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section">
        <div class="row">
            <div class="col-xs-6">
                <h3 class="text--center text--uppercase text--spaced">Australia</h3>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="text--center text--uppercase text--spaced">Canada</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="text--center text--uppercase text--spaced">Latin America</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-12.jpg" alt="Steph Cousins">
                    </div>
                    <h4>Steph Cousins</h4>
                    <p>External Affairs Director - Australia</p>
                    <span>Melbourne</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-13.jpg" alt="John Cameron">
                    </div>
                    <h4>John Cameron</h4>
                    <p>Chief Technology Officer</p>
                    <span>Melbourne</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-14.jpg" alt="Dana Wagner">
                    </div>
                    <h4>Dana Wagner</h4>
                    <p>Canadian Partnerships Advisor</p>
                    <span>Toronto</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="team-block">
                    <div class="team-block__image">
                        <img src="images/our-people/grid-15.jpg" alt="Julian Ginzo">
                    </div>
                    <h4>Julian Ginzo</h4>
                    <p>Latin American Partnerships Advisor</p>
                    <span>Buenos Aires</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section pro-bono">
        <h3 class="text--center text--uppercase text--spaced">Pro Bono Contributions</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.davispolk.com/" class="team-block" target="_blank">
                    <h4>Davis Polk and Wardwell,</h4>
                    <p>a Global 100 law firm, is providing pro bono representation to Talent Beyond Boundaries regarding its organizational structure and tax-exempt status.</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.davispolk.com/" class="team-block" target="_blank">
                    <h4>M Powered Strategies,</h4>
                    <p>a Washington, DC-based consulting firm, provided Talent Beyond Boundaries with a pro bono market assessment and recommendations to guide our strategic planning.</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.morganlewis.com/" class="team-block" target="_blank">
                    <h4>Morgan Lewis and Bockius,</h4>
                    <p>a Global 100 law firm, is providing pro bono services to Talent Beyond Boundaries on its corporate outreach activities.</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.davispolk.com/" class="team-block" target="_blank">
                    <h4>Nixon Peabody,</h4>
                    <p>a Global 100 law firm, provided Talent Beyond Boundaries with pro bono legal counsel, conducting critical research on work visa processes in potential destination countries for TBB's program.</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.davispolk.com/" class="team-block" target="_blank">
                    <h4>Playfair Visa and Migration Services</h4>
                    <p>is providing pro bono immigration support to Talent Beyond Boundaries' candidates.</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://www.davispolk.com/" class="team-block" target="_blank">
                    <h4>Segal Immigration Law</h4>
                    <p>is providing pro bono immigration support to Talent Beyond Boundaries' candidates.</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
