{% extends "layout/base.html" %}

{% block title %}TBB - Our Funders{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/funders/header.png">
    <img src="images/funders/header.png" alt="Our Funders">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Our</span> Funders</h1>
            <p>Talent Beyond Boundaries is grateful for the many funders who have supported the growth and advancement of our work.</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">Our funders are pioneers and changemakers who are eager to be part of a global solution for helping refugees thrive.</h3>
            <p>Talent Beyond Boundaries has been privileged to receive support from governments and institutions across the world. We currently have a cooperation agreement with UNHCR and also receive support from multiple other entites, including the following:</p>
        </div>
    </div>
</div>

<div class="section section--funders bg--white">
    <div class="container-fluid">
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-usa.png" alt="US State Department Bureau of Population, Refugees, and Migration">
            </div>
            <div>
                <p>The US State Department Bureau of Population, Refugees, and Migration provides aid and sustainable solutions for refugees, victims of conflict and stateless people around the world. The Bureau has provided Talent Beyond Boundaries with core support for its pilot project.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-wb.png" alt="The World Bank">
            </div>
            <div>
                <p>The World Bank is an international financial institution that that provides technical and financial assistance to developing countries around the world. The World Bank provided Talent Beyond Boundaries with a grant to support a feasibility study of revolving loan funds to facilitate labor mobility of refugees.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-tent.png" alt="TENT Foundation">
            </div>
            <div>
                <p>The TENT Foundation seeks to improve the lives and livelihoods of forcibly displaced people by funding direct assistance, investing in innovation and promoting policies and partnerships to help the displaced realize their full potential. The TENT Foundation is supporting Talent Beyond Boundaries' pilot project by providing funding for refugee job-readiness services.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-gif.png" alt="Global Innovation Fund">
            </div>
            <div>
                <p>Global Innovation Fund is a non-profit that invests in the development, rigorous testing, and scaling of innovations targeted at improving the lives of the world’s poorest people. Global Innovation Fund is providing support to Talent Beyond Boundaries to expand the learnings of TBB's pilot project by pursuing job placements for refugees into Morocco, and to document and share TBB's learnings with the international community.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-rpd.jpg" alt="Roy and Patricia Disney Family Foundation">
            </div>
            <div>
                <p>The Roy and Patricia Disney Family Foundation invests in innovative solutions and community leaders to build a more just, equitable, and sustainable world in which all people thrive. It is providing general operating support to Talent Beyond Boundaries for its pilot project to catalyze labor mobility for refugees.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/funders/ico-rockefeller.png" alt="The Rockefeller Foundation">
            </div>
            <div>
                <p>The Rockefeller Foundation is a world renowned institution that aims to "promote the well being of humanity" by investing in innovative projects that overcome social, environmental, health and economic challenges globally. It is providing general operating support to Talent Beyond Boundaries for its pilot project to catalyze labor mobility for refugees.</p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-journeyfund.png" alt="Journey Fund">
            </div>
            <div>
                <p>
                    This is the family fund of Talent Beyond Boundaries founders
                    Bruce and Mary Louise Cohen.
                    It was set up in 2009 to honor the memory of their Ethiopian
                    foster son.
                    As well as funding the creation and ongoing operation
                    of TBB,
                    the fund has been used to start a pediatric oncology
                    program in Ethiopia
                    and provide support for girl's education in Africa.
                    It also supports groups like UNICEF USA.
                </p>
            </div>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/homepage/partners/ico-cameron.png" alt="Cameron Foundation">
            </div>
            <div>
                <p>Cameron Foundation gives to a range of charities primarily in the areas of health, education, human rights and disaster relief. It is providing general operating support to Talent Beyond Boundaries for its pilot project to catalyze labor mobility for refugees.</p>
            </div>
        </div>
    </div>
</div>

<div class="section section--cta bg--blue">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title">If you are interested in funding Talent Beyond Boundaries' work, please contact Sayre Nyce, Executive Director, at <a href="mailto:snyce@talentbeyondboundaries.org">snyce@talentbeyondboundaries.org</a></h4>
        </div>
    </div>
</div>

{% endblock %}
