{% extends "layout/base.html" %}

{% block title %}TBB - Partner With Us{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" style="background-image: url('images/partner-with-us/header.jpg');">
    <img src="images/partner-with-us/header.jpg" alt="Parther With Us">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Partner</span> With Us</h1>
            <p>Our partners recognize the immense economic and social value when a refugee is given access to the global labor market.</p>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="narrow-wrapper">
        <h2 class="section__title text--blue">Our partners see labor mobility as a key solution and understand that it is time for catalytic change to make it a safe, legal, and practical option for refugees.</h2>
        <p>Talent Beyond Boundaries’ partners include a close network of passionate individuals, institutions, and corporations who aim to create a paradigm shift in how the world approaches skilled refugees.</p>
    </div>
</div>

<div class="section section--cta bg--blue">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title">If your organization is interested in becoming a partner with TBB, please contact Laura Schrier at <a href="mailto:lschrier@talentbeyondboundaries.org">lschrier@talentbeyondboundaries.org</a></h4>
        </div>
    </div>
</div>

<div class="section section--partner-logos bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h2 class="section__title text--blue"><span class="text--light">Global</span> <strong>Partners</strong></h2>
            <p>Our work is made possible through partnership with a number of dedicated organizations based internationally. TBB has a cooperation agreement with the UN Refugee Agency. In addition, TBB’s implementing partner in Lebanon and Jordan is SPARK, a Dutch NGO with extensive experience in the Middle East and beyond.</p>

            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <div>
                        <img class="partner-logo--c" src="images/partner-with-us/coursera.png" alt="Coursera">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div>
                        <img class="partner-logo--j" src="images/partner-with-us/jusoor.png" alt="Jusoor">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div>
                        <img class="partner-logo--pa" src="images/partner-with-us/paper-airplanes.png" alt="Paper Airplanes">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div>
                        <img class="partner-logo--rt" src="images/partner-with-us/refugee-talent.png" alt="Refugee Talent">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div>
                        <img class="partner-logo--rc" src="images/partner-with-us/refugee-career.png" alt="Refugee Career Jumpstart Project">
                        <p class="text--center">Refugee Career <br> Jumpstart Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="narrow-wrapper">
        <h2 class="section__title text--blue"><span class="text--light">Regional</span> <strong>Partners</strong></h2>
        <p>TBB also partners with local and international organizations across Lebanon and Jordan to share information about labor mobility for refugees and TBB’s Talent Catalog. TBB conducts information sessions (including joint sessions with UNHCR), staff briefings, and outreach through its partners, which include:</p>
        <ul class="color--inherit">
            <li><a class="text--underline" href="https://drc.ngo/">Danish Refugee Council</a></li>
            <li><a class="text--underline" href="https://www.facebook.com/LASeRLebanon/">LASER</a></li>
            <li><a class="text--underline" href="http://urda.org.lb/en/details.aspx?ID=1714">Union of Relief and Development Associations</a></li>
            <li><a class="text--underline" href="http://jrsusa.org/">Jesuit Refugee Service</a></li>
            <li><a class="text--underline" href="http://souriyat.org/">Souriyat Across Borders</a></li>
        </ul>
    </div>
</div>

<div class="section section--bg text--white section--partner-cta" style="background-image: url('images/partner-with-us/hero.jpg');">
    <img src="images/partner-with-us/hero.jpg" alt="Partner With Us">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h2 class="section__title"><span class="text--light">Corporate</span> <strong>Partners</strong></h2>
            <p>To become a corporate partner of TBB, please visit the <a href="for-employers.html" class="text--underline color--inherit">For Employers</a> section of our website. We are always looking for corporate partners that can benefit from hiring qualified employees from our talent pool.</p>
            <a href="pilot-project.html" class="btn btn--white">Hire Refugees</a>
        </div>
    </div>
</div>

{% endblock %}
