{% extends "layout/base.html" %}

{% block title %}TBB - Pilot Project{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/pilot/header.jpg">
    <img src="images/pilot/header.jpg" alt="The Pilot Project">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">The</span> Pilot Project</h1>
            <p>Talent Beyond Boudaries is the only organization in the world working to facilitate international employment for refugees.</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
    <span class="section__caption">Pictured: <strong>Ayman, Syrian in Jordan, Entrepreneur</strong></span>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">Our pilot project began in 2016 with the support of numerous partner organizations and institutions.</h3>
            <p>For the pilot project, Talent Beyond Boundaries will match a small number of refugees based in Lebanon and Jordan with employment opportunities in a few select countries around the world. As our model is honed and new employment and funding partnerships are developed, our aim is to expand the effort in the Middle East and other regions.</p>
            <p>Traditionally, there have been barriers that have prevented refugees from participating in the international labor market. TBB’s pilot project was designed to identify and address these barriers, while developing the systems needed to tackle them on a broader scale. Barriers to global labor mobility that refugees may face include lack of information about international employment, financial barriers to applications and travel, missing documentation, and lack of awareness in the business community about the breadth of talent in refugee communities.</p>
            <p>Developing effective systems to overcome the barriers that have
                typically foreclosed international employment can result in
                catalytic change for refugee responses and livelihoods.
            </p>
            <h4 id="pilot-australia">Australia</h4>
            <p>
                The Australian government provided a pilot for TBB for
                10 primary applicants using existing visa pathways.
                The pilot allows us to demonstrate that our refugees have good
                skills for which there is demand in corporate Australia,
                and that Australia businesses are prepared to go to the extra
                trouble to sponsor our candidates out.
                Through the pilot we are establishing all the processes and
                partnerships needed - for example around settlement services for
                refugees on arrival.
                The practical experience gained from the pilot will also allow
                us to accurately determine the associated costs and work out a
                financially viable scalable model.
                Lastly, the pilot will highlight the shortcomings of the existing
                visa pathways for skilled refugees and feed into the design of a
                new hybrid visa.
                Our broad vision for that new visa has been clearly presented
                to the government and immigration department (Home Affairs)
                in <a target="_blank"
                      href="s/TBBSubmissionAustraliaHumanitarianProgram.pdf">
                this formal submission</a>.
            </p>
            <h4 id="pilot-canada">Canada</h4>
            <p>
                TBB works closely with federal and provincial Canadian
                governments, community partners, the UNHCR Canada, and with
                private sector employers in diverse industries across Canada.
                TBB is the lead partner in the Canadian government-funded
                Economic Mobility Pathways Project (EMPP), which aims to test
                refugee access to Canada's federal and provincial economic
                pathways, and to document any barriers refugee applicants may
                face. The EMPP is implemented by TBB in partnership with
                RefugePoint and the UNHCR, and reaches refugee populations in
                the Middle East and East Africa.
                This unique pilot speaks to Canada's commitment to
                understanding how the global refugee talent pool fits into
                Canada's skilled immigration future. Partner provinces and
                territories in this project are Manitoba, Ontario, Newfoundland
                and Labrador, Nova Scotia, and the Yukon.
            </p>
            <h4>Learn more:<h4>
                <a target="_blank" href="s/TBBPilotProjectApproach.pdf">TBB Pilot Project Approach​</a>
            </h4>
        </div>
    </div>
</div>

{% endblock %}
