{% extends "layout/base.html" %}

{% block title %}TBB - Pilot Project{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/pilot/header.jpg">
    <img src="images/pilot/header.jpg" alt="The Pilot Project">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">The</span> Pilot Project</h1>
            <p>Talent Beyond Boudaries is the only organization in the world working to facilitate international employment for refugees.</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
    <span class="section__caption">Pictured: <strong>Ayman, Syrian in Jordan, Entrepreneur</strong></span>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">Our pilot project began in 2016 with the support of numerous partner organizations and institutions.</h3>
            <p>For the pilot project, Talent Beyond Boundaries will match a small number of refugees based in Lebanon and Jordan with employment opportunities in a few select countries around the world. As our model is honed and new employment and funding partnerships are developed, our aim is to expand the effort in the Middle East and other regions.</p>
            <p>Traditionally, there have been barriers that have prevented refugees from participating in the international labor market. TBB’s pilot project was designed to identify and address these barriers, while developing the systems needed to tackle them on a broader scale. Barriers to global labor mobility that refugees may face include lack of information about international employment, financial barriers to applications and travel, missing documentation, and lack of awareness in the business community about the breadth of talent in refugee communities.</p>
            <p>Developing effective systems to overcome the barriers that have typically foreclosed international employment can result in catalytic change for refugee response and livelihoods.</p>
            <p>Learn more:<br>
                <a target="_blank" href="s/TBBPilotProjectApproach.pdf">TBB Pilot Project Approach​</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
