{% extends "layout/base.html" %}

{% block title %}TBB - Press &amp; Recognition{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/press/header.png">
    <img src="images/press/header.png" alt="Press &amp; Recognition">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Press &amp;</span>  Recognition</h1>
            <p>We are pleased to share information about our work to the press and general public. Please see contact details below.</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">Recognition and awareness of refugee labor mobility continues to grow around the world.</h3>
            <p>The Global Forum on Migration and Development has asked TBB to take a leadership role in its Business Advisory Group by heading the committee on Innovations for Migrant and Refugee Access to Labor Markets. In addition, TBB and our Policy Advisor Katy Long have received funding from the World Bank to prepare a concept paper on establishing a revolving loan fund to facilitate labor migration for refugees.</p>
            <p>TBB has also been invited to speak at events organized by the UN High Commissioner for Refugees (UNHCR), the Organisation for Economic Co-operation and Development (OECD), the Concordia Summit, the Overseas Development Institute (ODI), the Migration Policy Institute (MPI), the Center for Global Development (CGD), the US Chamber of Commerce, the Global Philanthropy Forum, the Advancing Good Governance in International Development Seminar at Oxford University, and the International Metropolis Conference.</p>
        </div>
    </div>
</div>

<div class="section section--press bg--white">
    <div class="container-fluid">
        <h4 class="text--blue text--center">A number of media outlets have covered our work, including:</h4>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-npr.jpg" alt="NPR">
            </div>
            <p>
                <a href="http://www.npr.org/2016/09/21/494837176/obama-hosts-refugee-summit-on-sidelines-of-u-n-general-assembly-meeting">Refugee Summit Held On Sidelines Of U.N. General Assembly Meeting</a> <br>
                <small>Deborah Amos | September 21, 2016 | NPR</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-cgd.png" alt="Center for Global Development">
            </div>
            <p>
                <a href="http://www.cgdev.org/blog/what-ec%E2%80%99s-17-point-refugee-action-plan-ignores">What the EC’s 17-Point Refugee Action Plan Ignores</a> <br>
                <small>Hannah Postel, Matt Juden, and Owen Barder | October 30, 2015 | Center For Global Development</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-hire.png" alt="Hire Immigrants">
            </div>
            <p>
                <a href="https://www.eventbrite.ca/e/upcoming-webinar-talent-has-no-boundaries-tickets-31156477864">Talent Has No Boundaries: Private Sector Looks to Syrian Refugees for Labour Market Needs</a> <br>
                <small>Sayre Nyce, Abigial Fulton, Devon Franklin | January 24th, 2016 | Hire Immigrants</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-forbes.png" alt="Forbes">
            </div>
            <p>
                <a href="http://www.forbes.com/sites/kerryadolan/2016/04/07/how-philanthropists-and-nonprofits-are-working-on-the-refugee-crisis/#14d2e17f33f2">How Philanthropists And Nonprofits Are Working On The Refugee Crisis</a> <br>
                <small>Kerry A. Dolan | April 7, 2016 | Forbes</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-daily.jpg" alt="The Daily Star">
            </div>
            <p>
                <a href="https://www.dailystar.com.lb/News/Lebanon-News/2016/Nov-29/383305-ngo-helps-refugees-find-work-abroad.ashx">NGO Helps Refugees Find Work Abroad</a> <br>
                <small>Victoria Yan and Timour Azharil | November 29, 2016 | The Daily Star Lebanon</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-mpi.jpg" alt="Migration Policy Institute">
            </div>
            <p>
                <a href="http://www.migrationpolicy.org/research/no-way-out-making-additional-migration-channels-work-refugees">No Way Out? Making Additional Migration Channels Work for Refugees</a> <br>
                <small>Elizabeth Collett, Paul Clewett, and Susan Fratzke | March, 2016 | Migration Policy Institute</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-mpi.jpg" alt="Migration Policy Institute">
            </div>
            <p>
                <a href="http://www.migrationpolicy.org/research/protection-through-mobility-opening-labor-and-study-migration-channels-refugees">Protection through Migration: Opening Labor and Study Migration Channels to Refugees</a> <br>
                <small>Katy Long and Sarah Rosengaertner | October 2016 | Migration Policy Institute</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-fm.jpg" alt="Forced Migration">
            </div>
            <p>
                <a href="https://www.talentbeyondboundaries.org/press/#">Labour mobility as part of the solution</a> <br>
                <small>Sayre Nyce, Mary Louise Cohen, and Bruce Cohen | May 2016 | Forced Migration Review</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-h.png" alt="H">
            </div>
            <p>
                <a href="http://www.huffingtonpost.com/sayre-nyce/international-employment_b_12070592.html?platform=hootsuite#comments">International Employment: An Alternative Pathway for Refugees</a> <br>
                <small>Sayre Nyce | September 18th, 2016 | Huffington Post Blog. Also featured in Devex and Johns Hopkins SAIS Perspectives Publication.</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-rd.png" alt="Refugees Deeply">
            </div>
            <p>
                <a href="https://www.newsdeeply.com/refugees/community/2017/08/08/the-real-economic-cost-of-accepting-refugees">The Real Economic Cost of Accepting Refugees</a> <br>
                <small>Michael Clemens | August 8, 2017 | Refugees Deeply</small>
            </p>
        </div>
        <div class="row funders-block">
            <div class="funders-block__image">
                <img src="images/press/ico-pa.png" alt="Philanthropy Age">
            </div>
            <p>
                <a href="https://www.philanthropyage.org/development/refugees-can-boost-host-economies-if-only-they-are-given-chance-work">A Working Solution: Refugees Can Boost Economies</a> <br>
                <small>Jessica Holland | September 25, 2017 | Philanthropy Age</small>
            </p>
        </div>

        <div class="narrow-wrapper">
            <h4 class="text--blue text--center">We have taken part in a number of events, presentations and conferences, including:</h4>
            <ul>
                <li>High Commissioner’s Dialogue on Protection Challenges, Geneva | December 16-17, 2015</li>
                <li>Business Mechanism of Global Forum for Migration and Development (GFMD), Geneva | April 17-24, 2016</li>
                <li>World Bank Global Forum for Youth in Development, Washington DC | June 25, 2016</li>
                <li>United Nations Summit, New York | September 13-20, 2016</li>
                <li>Concordia Summit, New York | September 20, 2016</li>
                <li>Leaders’ Summit Follow Up Meeting at U.S. State Department, Washington DC | January 19, 2017</li>
                <li>UN Department of Economic and Social Affair 15th Coordination Meeting on International Migration, New York | February 16-17, 2017</li>
                <li>Harvard Arab Conference, Amman | March 11, 2017</li>
                <li>Conference Board of Canada Immigration Summit, Ottawa | May 9-10, 2017</li>
                <li>Overseas Development Institute, London | May 11, 2017</li>
                <li>UNHCR - Organisation for Economic Co-operation and Development Event on Employing Refugees, Ottawa | May 30, 2017</li>
                <li>Skoll Foundation Panel, Oxford | June 8-9, 2017</li>
                <li>United Nations NGO Consultations, Geneva | June 12, 2017</li>
                <li>Global Forum on Migration and Development, Berlin | June 27-29, 2017</li>
                <li>Center for Global Development, Washington DC | August 24, 2017</li>
                <li>Metropolis Conference, The Hague | September 19-22, 2017</li>
            </ul>
        </div>
    </div>
</div>

<div class="section section--cta bg--blue">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h4 class="section__title">For media inquiries, please contact Madeline Holland, Project and Outreach Manager, at <a href="mailto:mholland@talentbeyondboundaries.org">mholland@talentbeyondboundaries.org</a></h4>
        </div>
    </div>
</div>

{% endblock %}
