{% extends "layout/base.html" %}

{% block title %}TBB - Vision &amp; Impact{% endblock %}

{% block content %}

<div class="section section--bg section--hero text--center text--white" data-parallax="scroll" data-image-src="images/vision/header.jpg">
    <img src="images/vision/header.jpg" alt="Our vision &amp; impact">
    <div class="container-fluid">
        <div class="section__content">
            <h1 class="section__title text--uppercase"><span class="text--light">Our</span> Vision &amp; Impact</h1>
            <p>Creating Opportunities, Rebuilding Lives</p>
        </div>
    </div>
    <span class="section__slide-btn">
        {% include "svg/arrow-down.svg" %}
    </span>
    <span class="section__caption">Pictured: <strong>Nada, Syrian in Lebanon, Mathematician</strong></span>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">Talent Beyond Boundaries envisions a world where refugees can rebuild their lives while contributing to the global economy.</h3>
            <p>
                Currently international law and conventions recognize three
                potential, durable solutions for the world’s 22.5 million
                refugees:
            </p>
            <ul class="list list--bullets list--spaced">
                <li>voluntary return</li>
                <li>local integration</li>
                <li>third-country resettlement</li>
            </ul>
            <p>
                This approach has not changed substantially since World War II.
            </p>
        </div>
    </div>
</div>

<div class="section bg--white">
    <div class="container-fluid">
        <div class="narrow-wrapper">
            <h3 class="section__title text--blue">
                We are the only group developing international skilled work
                opportunities with and for refugees, enabling them to move on
                skilled labor visas, as a solution to their protection needs.
            </h3>
            <p>Data from UNHCR - in combination with TBB’s own, more-detailed Talent Catalog - shows that there are vast numbers of talented refugees currently prohibited from working. Meanwhile, companies in countries around the globe are experiencing critical skill shortages that hinder their competitiveness and development.</p>
            <p>By linking skilled refugees with countries and companies that need their skills, TBB is forging a new sustainable solution for refugees to rebuild their lives while boosting the global economy. Expanding labor mobility for refugees has the potential to improve the lives of tens of thousands of refugees and their families, and fundamentally alter future responses to refugee crises.</p>
            <p>In collaboration with governments and partners around the world, TBB is identifying and overcoming the barriers that have kept refugees from rebuilding their lives and careers through international employment.</p>
            <h3 class="section__title">Learn More</h3>
            <ul class="list list--bullets list--spaced">
                <li>
                    <a target="_blank" href="s/WhyWeExist.pdf">Why We Exist</a>
                </li>
                <li>
                    <a target="_blank" href="s/ImpactRefugeesEmployersEconomy.pdf">Impact on Refugees, Employers and the Global Economy</a>
                </li>
                <li>
                    <a target="_blank" href="s/CallToAction_ComplementaryPathways_Nov2018.pdf">Call to Action: Complementary Pathways Nov 2018</a>
                </li>
            </ul>
            <h3 class="section__title">Our Submissions to UNHCR</h3>
            <ul class="list list--bullets list--spaced">
                <li>
                    <a target="_blank" href="s/TBBSubmissionGlobalCompactRefugees.pdf">Global Compact for Refugees</a>
                </li>
            </ul>
            <h3 class="section__title">Our Submissions to Australian Government</h3>
            <ul class="list list--bullets list--spaced">
                <li>
                    <a target="_blank" href="s/TBBSubmissionAustraliaMigrationProgram.pdf">Enhancing labour mobility for refugees through Australia’s Migration Program</a>
                </li>
                <li>
                    <a target="_blank" href="s/TBBSubmissionAustraliaHumanitarianProgram.pdf">Australia's Humanitarian Program</a>
                </li>
            </ul>
            <h3 class="section__title">Intergovernmental Interventions</h3>
            <ul class="list list--bullets list--spaced">
                <li>
                    <a target="_blank" href="s/GCMPaper.pdf">Discussion Paper on Labour Mobility as an Implementation of the Global Compact for Migration</a>
                </li>
                <li>
                    <a target="_blank" href="s/MarrakechTestimonyTranscript.pdf">Intervention at the Global Compact for Migration Adoption Conference</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
