.tbb-header {
	position: relative;
	flex-shrink: 0;
	font-size: 13px;
	font-weight: 100;
	box-shadow: inset 0 1px 1px rgba($color-white, 0.6), 0 0 5px rgba($color-black, 0.6);
	background-color: $color-white;
	color: $color-black;
	z-index: 30;

	@include breakpoint(1024) {
		.tbb-header__nav,
		.social-icons {
			display: none;
		}

		.container-fluid {
			padding-left: 0;
		}
	}

	@include breakpoint(1024, min) {
		.offcanvas-toggle {
			display: none;
		}
	}

	&__logo {
		max-width: 200px;
		padding: 0.5em 0;

		@include breakpoint(768) {
			max-width: 150px;
		}
	}

	&__nav {
		display: flex;
		margin: 0 2em;

		> li {
			display: flex;
			align-items: center;
		}

		> li:not(:last-child) {
			margin-right: 2em;
		}
	}

	&__nav > li > a,
	&__nav > li > .dropdown__toggle {

		&:hover {
			color: $color-blue;
		}
	}

	.tbb-header__donate {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-weight: 100;
	}

	.container-fluid {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
	}

	.social-icons {
		margin-left: auto;
		margin-right: 2em;
	}

	.social-icons > li {
		display: flex;
		align-items: center;
	}

	a:not(.btn) {
		color: inherit;
	}
}

.tbb-content {
	flex-grow: 1;
	overflow: auto;
}

.tbb-footer {
	text-align: center;
	color: $color-white;
	background-color: $color-gray-darkest;

	li {
		font-size: 0.9em;
		margin: 0.7em 0;
	}

	&__info {

		ul {
			margin-top: 1.5em;
		}

		li {
			margin-bottom: 0.2em;
		}

		li:last-child {
			margin-top: 0.5em;
			margin-bottom: 0;
			font-size: 0.8em;
		}
	}
}
