.list {
	margin: 1em 0;
	padding-left: 2em;

	li {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}

	&--bullets {
		list-style: disc;
	}

	&--numbers {
		list-style: decimal;
	}

	&--spaced li {
		margin-top: 0.8em;
		margin-bottom: 0.8em;
	}
}
