.popup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: all $animation-duration ease;
	z-index: 35;

	&,
	&__overlay {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--show {
		visibility: visible;
		opacity: 1;

		.popup__inner {
			opacity: 1;
			transition-delay: $animation-duration;
		}
	}

	&--small .popup__inner {
		max-width: 450px;
	}

	&__overlay {
		position: absolute;
		background-color: rgba($color-black, 0.6);
	}

	&__inner {
		position: relative;
		margin: 1em 0;
		max-width: 90%;
		max-height: 90%;
		width: 700px;
		padding: 1em;
		background-color: $color-white;
		overflow: auto;
		z-index: 1;
		transition: opacity 0.7s ease;
		opacity: 0;

		@include breakpoint(768, min) {
			padding: 2em;
		}
	}

	&__header,
	&__body,
	&__footer {
		padding: 1em;
	}

	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding-bottom: 0;
	}

	&__body p:first-child {
		margin-top: 0;
	}

	&__body,
	&__footer {
		padding-top: 0;
	}

	&__title {
		margin: 0;
		font-size: 1.3em;
		flex-grow: 1;
	}

	.input-field {
		margin-bottom: 1em;
	}
}

// Homepage partners section

.popup--partners {

	h2 {
		margin-top: 0;
	}

	.popup__inner {

		@include breakpoint(768) {
			text-align: center;
		}
	}

	.row {
		align-items: center;
	}

	.partner-logo {

		@include breakpoint(768) {
			order: -1;
			margin-bottom: 1.5em;
			text-align: center;

			img {
				max-height: 70px;
			}
		}

		@include breakpoint(768, min) {
			text-align: right;

			img {
				max-height: 200px;
			}
		}
	}
}

// Our People team grid popups

.popup--team {

	img {
		border-radius: 50%;
		width: 250px;
	}

	[class*='col'] {
		text-transform: uppercase;

		@include breakpoint(768, max) {
			text-align: center;
		}

		h2 {
			color: $color-blue;
		}

		h2,
		p {
			font-size: 1.4em;
			font-weight: bold;
		}

		h2 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			line-height: 1.4;
			color: darken($color-body-text, 2%);
		}

		span {
			font-size: 0.9em;
			color: lighten($color-body-text, 7%);
		}
	}
}
