.section {
	padding-top: 2.5em;
	padding-bottom: 2.5em;

	@include breakpoint(768, min) {
		padding-top: 4em;
		padding-bottom: 4em;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&--bg {
		padding-top: 5em;
		padding-bottom: 5em;
		background: no-repeat 50% / cover transparent;

		@include breakpoint(768, min) {
			padding-top: 10em;
			padding-bottom: 10em;
		}
	}

	&__content {
		max-width: 550px;
	}

	> p:last-child {
		margin-bottom: 0;
	}
}
