.section {
	padding-top: 2.5em;
	padding-bottom: 2.5em;

	@include breakpoint(768, min) {
		padding-top: 4em;
		padding-bottom: 4em;

		&__content {
			max-width: 50%;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1rem;

		@include breakpoint(768) {
			font-size: 24px;
		}
	}

	> p:last-child {
		margin-bottom: 0;
	}

	&__slide-btn {
		display: none;
		position: absolute;
		left: 50%;
		color: $color-white;
		cursor: pointer;
		transition: color $animation-duration ease;
		transform: translateX(-50%);

		@include breakpoint(768, min) {
			display: inline-block;
		}

		&:hover {
			color: $color-blue;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.section--bg {
	padding-top: 5em;
	padding-bottom: 5em;
	background: no-repeat 50% / cover transparent;

	@include breakpoint(768) {
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;

		.container-fluid {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			background-color: $color-blue;
		}

		> img {
			width: 100%;
			max-height: 370px;
			object-fit: cover;
			object-position: top;
		}

		.btn {
			border: 1px solid;
		}
	}

	@include breakpoint(768, min) {
		padding-top: 10em;
		padding-bottom: 10em;

		> img {
			display: none;
		}
	}
}

// Used in combination with section--bg to serve as a page hero section
// with title + short paragraph
.section--hero {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color-black, 0.2);

		@include breakpoint(768) {
			content: none;
		}
	}

	.section__content {
		position: relative;
		margin: 3em auto;
		max-width: 650px;
		width: 100%;

		@include breakpoint(768, min) {
			margin-top: 5em;
			margin-bottom: 5em;
		}

		&::before {
			content: '';
			position: absolute;
			top: -1em;
			left: 50%;
			width: 100px;
			height: 3px;
			background-color: currentcolor;
			transform: translateX(-50%);
		}
	}

	.section__title {
		margin-bottom: 0.5em;
		font-size: 1.6em;

		@include breakpoint(768, min) {
			font-size: 2.7em;
			margin-bottom: 0;
		}

		@include breakpoint(1024, min) {
			font-size: 3.7em;
		}
	}

	p {
		margin: 0;
		font-weight: 100;
		font-style: italic;
		font-size: 1.1em;

		@include breakpoint(768, min) {
			font-size: 1.3em;
		}

		@include breakpoint(1024, min) {
			font-size: 1.5em;
		}
	}
}

// Page header hero full height
[data-parallax] {

	@include breakpoint(768) {
		background-color: $color-blue;
	}
}

.tbb-content > [data-parallax]:first-child {

	@include breakpoint(768, min) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 67px);
	}
}

.section--cta {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	color: $color-white;

	.section__title {
		margin: 0;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.5;
		color: inherit;
	}

	a:not(:hover) {
		color: inherit;
	}
}
