.section {
	padding-top: 2.5em;
	padding-bottom: 2.5em;

	@include breakpoint(768, min) {
		padding-top: 4em;
		padding-bottom: 4em;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	> p:last-child {
		margin-bottom: 0;
	}
}
