.funders-block {
	margin: 1.5em 0;
	align-items: center;
	flex-direction: column;

	@include breakpoint(768, min) {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__image {
		text-align: center;

		@include breakpoint(768, min) {
			width: 300px;
			padding-right: 2em;
			flex-shrink: 0;
		}

		img {
			max-height: 140px;
			max-width: 220px;
		}

		+ * {
			width: 100%;
		}
	}
}
