.home-section--1 {
	min-height: calc(100vh - 67px);
	background-image: url('../images/homepage/section-1.jpg');
	background-position: 60% 20%;

	h1 {
		font-size: 36px;
	}

	p {
		margin-top: 1rem;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}

.home-section--2 {
	min-height: 100vh;
	background-image: url('../images/homepage/section-2.jpg');
	background-position: 50% 20%;

	.section__content {
		max-width: 450px;
	}

	.inline-buttons {

		.btn {
			width: 160px;
		}

		&:last-child {
			margin-top: 1em;
		}
	}
}

.home-block-grid {

	.block {
		height: 100%;
		background-color: rgba($color-blue, 0.9);
	}

	.block__icon {
		display: flex;
		align-items: flex-end;
		height: 5em;
		width: 5em;
	}
}
