.home-section--1 {
	min-height: calc(100vh - 67px);
	background-image: url('../images/homepage/section-1.jpg');
	background-position: 60% 20%;

	h1 {
		font-size: 36px;
	}

	p {
		margin-top: 1rem;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}

.home-section--2 {
	min-height: 100vh;
	background-image: url('../images/homepage/section-2.jpg');
	background-position: 50% 20%;

	.section__content {
		max-width: 450px;
	}

	.inline-buttons {

		.btn {
			width: 160px;
		}

		&:last-child {
			margin-top: 1em;
		}
	}
}

.home-block-grid {
	position: relative;
	overflow: hidden;

	video {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;

		@media (min-aspect-ratio: 16/9) {
			width: 100%;
			height: auto;
		}

		@media (max-aspect-ratio: 16/9) {
			width: auto;
			height: 100%;
		}

		@include breakpoint(768) {
			display: none;
		}
	}

	.video-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../images/homepage/video-poster.jpg') no-repeat 70% 50% / cover transparent;
		z-index: 1;
	}

	.section {
		position: relative;
		z-index: 10;

		&__title {
			margin-bottom: 1.5em;
		}
	}

	.block {
		height: 100%;
		background-color: rgba($color-blue, 0.9);
	}

	.block__icon {
		display: flex;
		align-items: flex-end;
		height: 5em;
		width: 5em;
	}
}

.prof-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 3em;

	&-title {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	&__block {
		width: 130px;
		text-align: center;
	}

	img {
		height: 110px;
	}

	span {
		display: block;
		margin-top: 1em;
		color: $color-text-grey;
	}
}

.home-partners {

	p {
		margin-bottom: 3em;
		color: $color-text-grey;
	}

	&__grid {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		div {
			margin: 1em 1.5em;
		}
	}

	img {
		max-width: 7em;
	}

	.horizontal-logo {
		max-height: 80px;
		max-width: none;
	}
}
